@use "default" as *;
@use "mq" as *;
@use "colorPalette" as *;
.header {
  height: 539.43px;
  background: url(../images/mobile/image-header.jpg) center bottom no-repeat;
  background-size: cover;
  @include mq {
    height: 100vh;
    background-image: url(../images/desktop/image-header.jpg);
  }
  &__nav {
    width: min(100% - 24.3px);
    margin: 23px auto 88.46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq {
      width: min(100% - 86px);
      margin: 33.46px auto 102.53px;
    }
    #logo {
      font-family: $barlow;
      font-weight: 900;
      font-size: 27.5992px;
      color: color(White);
      @include mq {
        font-size: 37.8755px;
      }
    }
    img[alt="mobileMenu"] {
      width: 24.3px;
      height: 18.22px;
      cursor: pointer;
      @include mq {
        display: none;
      }
    }
  }
  & > h1 {
    font-family: $frauces;
    font-weight: 900;
    font-size: 40.9335px;
    text-align: center;
    letter-spacing: 0.165em;
    color: color(White);
    @include mq {
      font-size: 56.3397px;
    }
  }
}
.header__nav .list-item {
  @include mq {
    li:not(:last-child) a {
      font-family: $barlow;
      font-weight: 600;
      font-size: 17.8237px;
      color: color(White);
    }
  }
}
.arrow-down {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  @include mq {
    width: 40px;
    top: 65%;
  }
}
// SECTION ONE
.sectionOne {
  &__top {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include mq {
      flex-direction: row;
    }
    &__right {
      height: 312.83px;
      background: url(../images/mobile/image-transform.jpg) center center
        no-repeat;
      background-size: cover;
      @include mq {
        width: 50%;
        height: unset;
      }
    }
    &__left {
      order: 1;
      height: 100%;
      width: min(100% - 30.7px);
      margin-inline: auto;
      padding: 63.95px 0 65.36px;
      @include mq {
        order: 0;
        width: 50%;
        padding: 94.59px 2% 5% 5%;
      }
      h2 {
        font-family: $frauces;
        font-weight: 700;
        font-size: 33.1889px;
        text-align: center;
        color: color(VeryDarkDesaturatedBlue);
        @include mq {
          max-width: 338.42px;
          font-size: 41.2319px;
          text-align: left;
        }
      }
      p {
        font-family: $barlow;
        font-weight: 600;
        font-size: 18.7327px;
        line-height: 158.5%;
        text-align: center;
        letter-spacing: -0.025em;
        color: color(DarkGrayishBlue);
        margin: 25.59px auto 31.49px;
        width: 345.31px;

        @include mq {
          line-height: 157.5%;
          margin: unset;
          text-align: left;
          max-width: 459.99px;
          margin: 40.93px 0 40.78px;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      a {
        font-family: $frauces;
        font-weight: 700;
        font-size: 15.3281px;
        line-height: 157.5%;
        letter-spacing: 0.07em;
        color: color(VeryDarkDesaturatedBlue);
        display: block;
        text-align: center;
        margin-inline: auto;
        position: relative;
        overflow: initial;
        &:hover {
          &::after {
            background: color(Yellow);
          }
        }
        @include mq {
          font-size: 11.9852px;
          line-height: 157.5%;
          text-align: left;
          width: fit-content;
          margin-inline: unset;
        }
        &::after {
          content: "";
          height: 10.12px;
          width: 135.56px;
          border-radius: 5.05838px;
          background: lighten(map-get($colorPalette, Yellow), 30%);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          transition: background 0.6s ease-in-out;
          @include mq {
            border-radius: 3.95522px;
            width: 103px;
            height: 7.91px;
          }
        }
      }
    }
  }
  &__bottom {
    @extend .sectionOne__top;
    &__left {
      @extend .sectionOne__top__right;
      background-image: url(../images/mobile/image-stand-out.jpg);
      order: 1;
    }
    &__right {
      @extend .sectionOne__top__left;
      order: 2;
      // background: map-get($map: $colorPalette, $key: SoftRed) !important;
      a::after {
        // background: lighten(color(SoftRed), 30%);

        background-color: lighten($color: color(SoftRed), $amount: 10%);
      }
      a:hover::after {
        background: color(SoftRed);
      }
    }
  }
}
// SECTION Two
.sectionTwo {
  display: flex;
  flex-direction: column;
  @include mq {
    flex-direction: row;
  }
  &__left {
    padding: 399px 23px 58.91px;
    background: url(../images/mobile/image-graphic-design.jpg) center center
      no-repeat;
    background-size: cover;
    @include mq {
      height: unset;
      min-height: 587.5px;
      padding: 384.75px 0 61.75px;
      background-image: url(../images/desktop/image-graphic-design.jpg);
      width: 50%;
      background-position: center center;
    }
    h2 {
      font-family: $frauces;
      font-weight: 700;
      font-size: 29.2916px;
      letter-spacing: -0.01em;
      text-align: center;
      color: color(DarkModerateCyan);
      margin-bottom: 26.67px;
      @include mq {
        font-size: 29.029px;
      }
    }
    p {
      font-family: $barlow;
      font-weight: 600;
      font-size: 15.7358px;
      line-height: 169%;
      text-align: center;
      color: color(DarkModerateCyan);
      @include mq {
        font-size: 15.4516px;
        width: 324px;
        margin-inline: auto;
      }
    }
  }
  &__right {
    @extend .sectionTwo__left;
    background-image: url(../images/mobile/image-photography.jpg);
    @include mq {
      background-image: url(../images/desktop/image-photography.jpg);
    }
    h2,
    p {
      color: color(DarkBlue);
    }
  }
}
// SECTION THREE
.sectionThree {
  padding: 65.18px 0 99.38px;
  width: min(100% - 24px);
  margin-inline: auto;
  @include mq {
    padding: 154px 0 161px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 38px;
  }
  h1 {
    font-family: $frauces;
    font-weight: 700;
    font-size: 16.8479px;
    letter-spacing: 0.23em;
    color: color(GrayishBlue);
    text-align: center;
    @include mq {
      font-size: 20.519px;
      flex-basis: 100%;
      margin-bottom: 79px;
    }
  }
}
.cardContainer {
  margin-top: 63.45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq {
    margin-top: unset;
  }
  img {
    height: 73.13px;
    border-radius: 50%;
    margin-bottom: 32.24px;
    @include mq {
      height: 71px;
      margin-bottom: 57px;
    }
  }
  p {
    font-family: $barlow;
    font-weight: 600;
    font-size: 17.9152px;
    line-height: 179.5%;
    text-align: center;
    color: color(VeryDarkGrayishBlue);
    max-width: 326.12px;
    margin-bottom: 33.14px;
    @include mq {
      font-weight: 500;
      font-size: 1.05rem;
    }
  }
  h4 {
    font-family: $frauces;
    font-weight: 700;
    font-size: 18.8007px;
    text-align: center;
    color: color(VeryDarkDesaturatedBlue);
    margin-bottom: 10.25px;
    @include mq {
      font-size: 18.2527px;
    }
  }
  h5 {
    font-family: $barlow;
    font-weight: 600;
    font-size: 13.9999px;
    line-height: 17px;
    text-align: center;
    color: color(GrayishBlue);
    @include mq {
      font-size: 13.5918px;
    }
  }
}
.cardContainer:not(:last-child) {
  margin-bottom: 68.69px;
  @include mq {
    margin-bottom: 50px;
  }
}
// SECTION FOUR
.sectionFour {
  display: flex;
  flex-wrap: wrap;
  img {
    display: block;
    flex-basis: 50%;
    @include mq {
      flex-basis: 25%;
    }
  }
}
// FOOTER
footer {
  background: lighten(color(DarkDesaturatedCyan), 51%);
  padding: 42.88px 0 80px;
  #logo {
    font-family: $barlow;
    font-weight: 900;
    font-size: 38.2612px;
    color: color(DarkModerateCyan);
    text-align: center;
    margin-bottom: 41.57px;
    @include mq {
      font-size: 36.9563px;
    }
  }
  .siteMap {
    width: min(100% - 74px, 292px);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    a {
      font-family: $barlow;
      font-weight: 600;
      font-size: 18.3537px;
      color: lighten(color(DarkModerateCyan), 10%);
      transition: color 0.5s ease-in-out;
      &:hover {
        color: color(White);
      }
      @include mq {
        font-size: 17.6628px;
      }
    }
  }
  .socialMedia {
    max-width: 167.54px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 89.26px;
    &:hover {
    }
    img {
      height: 20.46px;
      cursor: pointer;
      transition: filter 0.5s ease-in-out;
      &:hover {
        filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(14%)
          hue-rotate(150deg) brightness(105%) contrast(100%);
      }
    }
  }
}
// MOBILE MENU
.header__nav .rectangle {
  background-size: cover;
  position: absolute;
  top: 82px;
  right: 22px;
  @include mq {
    display: none;
  }
  // ANIMATION
  transform: translateX(-200%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  // ACTIVE CLASS
  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}

.header__nav .list-item {
  position: absolute;
  background-color: color(White);
  padding: 41px 0 37px;
  top: 106px;
  width: min(100% - 46px);
  left: 50%;
  transition: all 0.5s ease-in-out;
  // ANIAMTION
  transform: translateX(-200%);
  opacity: 0;
  @include mq {
    position: static;
    background-color: initial;
    padding: 0;
    transition: none;
    transform: translateX(0);
    opacity: 1;
    width: min(100%, 458px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // ACTIVE CLASS
  &.active {
    transform: translateX(-50%);
    z-index: 2;
  }
  li {
    text-align: center;
    // position: relative;
  }
  a {
    font-family: $barlow;
    font-weight: 600;
    font-size: 19.3191px;
    text-align: center;
    display: block;
    color: color(VeryDarkDesaturatedBlue);
  }
  li:not(:last-child) a {
    margin-bottom: 33.46px;
    @include mq {
      margin-bottom: 0;
    }
  }
  li:last-child a {
    padding: 19px 30.5px;
    background-color: color(Yellow);
    display: inline-block;
    border-radius: 28px;
    font-family: $frauces;
    font-weight: 700;
    font-size: 15.3837px;
    transition: background 0.4s ease-in-out;
    @include mq {
      font-family: $frauces;
      font-weight: 700;
      font-size: 15.1114px;
      color: color(VeryDarkDesaturatedBlue);
      background-color: color(White);
      padding: 18px 30px;
      border-radius: 27.5px;
      display: block;
    }
  }
  li:last-child:hover a:hover {
    background: rgba(255, 255, 255, 0.507);
  }
}
